{
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "plugins": ["jest-dom", "testing-library"],
  "extends": [
    "eslint:recommended",
    "react-app",
    "react-app/jest",
    "plugin:jest-dom/recommended",
    "plugin:testing-library/react",
    "eslint-config-prettier"
  ],
  "rules": {
    "strict": ["error", "never"]
  },
  "env": {
    "browser": true
  }
}
