# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
.nyc_output/
coverage/
/cypress/videos
/cypress/screenshots
/cypress/snapshots

# production
/build
.next/

# misc
.DS_Store

# files related to the project (Mood board etc.)
resources/

# template scripts
template*.js

out/
